:root {
 --background-color: #ffc1c1;
 --light-color: rgb(255, 255, 255);
 --dark-color: black;
 --link-color: rgb(167, 14, 167);
}

body {
    font-family:"Poppins";
    background-color: var(--background-color);
    margin:2em;
    font-size: 16px;
}

main {
    position: relative;
    max-width:1080px;
    margin: 0 auto;
    padding: 64px;
    border:1px solid black;
    background-color: bisque;
}

#head {
    display: flex;
    justify-content: space-between;
}

.sub-head {
    margin-left: auto;
    order: 2;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

h1 {
    font-family:"Montserrat";
    font-size: 3em;
}

h2 {
    font-family:"Montserrat";
    font-size: 2em;
}

p {
    font-size: 20px;
}

.post {
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
}

#post {
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    background-color: gold;
}

.post, #post {
    .img-container {
        aspect-ratio: 3/2;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    a {
        color: var(--link-color);
    }
    a:hover {
        text-decoration: underline;
    }
}

.special-headline {
    font-weight: 900;
    color: blue;
}

.highlight {
    background: var(--dark-color);
    color: var(--light-color);
    h2 {
        color: var(--light-color);
    }
}

/* Lab 2 styles */
.logo-holder {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo {
    height: 3em;
    width: auto;
    float: left;
    margin-right: .5em;
}

.sub-head {
    display: flex;
    align-items: center;
}

/* Lab 3 styles */

.hide-me {
    display: none;
}

.post span {
    color: coral
}

.block-div, .block {
    display: block;
    color: coral;
    background-color: rgb(40, 14, 111);
    border-radius: 16px;
    border: 1px black;
    padding: 1em;
}

.block {
    margin: 1em 0;
}

.inline {
    display:inline;   
}

.inline-block {
    display: inline-block;
    text-transform:uppercase;
    padding: 0.2em 0.8em;
    color: black !important;
    background-color: coral;
    transform: rotate(-8deg);
    font-weight: 800;
    font-variation-settings: 
     "wdth" 75;
}

.static {
    position: static;
    border: 1px solid var(--dark-color);
}