:root {
 --background-color: #ffc1c1;
 --light-color: rgb(255, 255, 255);
 --dark-color: black;
 --link-color: rgb(167, 14, 167);
}

body {
    font-family:"Poppins";
    background-color: var(--background-color);
    margin:2em;
    font-size: 16px;
}

main {
    position: relative;
    max-width:1080px;
    margin: 0 auto;
    padding: 64px;
    border:1px solid black;
    background-color: bisque;
}

#head {
    display: flex;
    justify-content: space-between;
}

.sub-head {
    margin-left: auto;
    order: 2;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

h1 {
    font-family:"Montserrat";
    font-size: 3em;
}

h2 {
    font-family:"Montserrat";
    font-size: 2em;
}

p {
    font-size: 20px;
}

.post {
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    background-color: bisque;
}

#post {
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    background-color: gold;
}

.post, #post {
    .img-container {
        aspect-ratio: 3/2;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    a {
        color: var(--link-color);
    }
    a:hover {
        text-decoration: underline;
    }
}

.special-headline {
    font-weight: 900;
    color: blue;
}

.highlight {
    background: var(--dark-color);
    color: var(--light-color);
    h2 {
        color: var(--light-color);
    }
}

/* Lab 2 styles */
.logo-holder {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo {
    height: 3em;
    width: auto;
    float: left;
    margin-right: .5em;
}

.sub-head {
    display: flex;
    align-items: center;
}

/* Lab 3 styles */

.hide-me {
    display: none;
}

.post span {
    color: coral
}

.block-div, .block {
    display: block;
    color: coral;
    background-color: rgb(40, 14, 111);
    border-radius: 16px;
    border: 1px black;
    padding: 1em;
}

.block {
    margin: 1em 0;
}

.inline {
    display:inline;   
}

.inline-block {
    display: inline-block;
    text-transform:uppercase;
    padding: 0.2em 0.8em;
    color: black !important;
    background-color: coral;
    transform: rotate(-8deg);
    font-weight: 800;
    font-variation-settings: 
     "wdth" 75;
}

.static {
    position: static;
    border: 1px solid var(--dark-color);
}

.fixed {
    z-index: 999;
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 200px;
    padding: 1em;
    background-color: coral;
    border: 1px solid var(--dark-color);
}

.relative {
    position: relative;
    left: 1em;
    width: calc(100% - 1em);
    border: 1px solid var(--dark-color);
}
  
.sticky-demo-holder {
    overflow: scroll;
    background-color:white;
    position: relative;
    border: 1px solid var(--dark-color);
    width: 100%;
    margin-bottom: 1em;
    height: 200px;
    p {
      margin: 1em;
    }
}

.sticky-bit {
    background-color: coral;
    position: sticky;
    top: 0;
    padding: 1em;
}

.absolute-demo-holder {
    position: relative;
    border: 1px solid var(--dark-color);
    width: 100%;
    margin-bottom: 1em;
    background-color: rgb(151, 183, 219);
    aspect-ratio: 8/3;
} 

.absolute-bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: coral;
    border-radius: 50px;
    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

.float-demo-holder {
    border: 1px solid var(--dark-color);
    padding: 0 1em;
    margin-bottom: 1em;
  
    .img-right {
      width: 15em;
      height: auto;
      float: right;
      margin: 1em 0 1em 1em;
    }
    
    .img-left {
      width: 15em;
      height: auto;
      float: left;
      margin: 1em 1em 1em 0;
    }
}

.column-demo-holder {
  border: 1px solid var(--dark-color);
  padding: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.column {
    width: calc(100%/3 - 2rem);
    aspect-ratio: 1;
    float: left;
    padding: 1rem;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    background-color: hsl(16, 100%, 66%);
    &:nth-child(even){
      background-color: hsl(16, 100%, 44%);
    }
}

.masthead {
    background-color: #600060;
    margin: 1em;
    height: 100px;
}

.side-nav {
    background-color: #006060;
    float: left;
    margin: 1em;
    height: 60vh;
    width: calc(25% - 2em);
}

.article {
    background-color: #606000;
    float: left;
    margin: 1em;
    height: 60vh;
    width: calc(75% - 2em);
}

/* CSS Lab 4: Grid */
.grid-parent {
    display: grid;
    /*grid-template-columns: 25% 75%;*/
    grid-template-columns: 2fr 2fr;
    gap: 1em;
    margin-bottom: 1em;
}  

.grid-child {
    min-height: 30vh;
    background-color: #d6d6d6;
}
  
.grid-layout-parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 5fr;
    gap: 1em;
    margin-bottom: 1em;
}
.grid-layout-chess {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 1em;
}
  
.grid-child-chess {
    aspect-ratio: 1;
    background-color: coral;
    transition: 0.5s;
}

.grid-child-chess:nth-child(-n + 8):nth-child(even),
.grid-child-chess:nth-child(n + 8):nth-child(-n + 16):nth-child(odd),
.grid-child-chess:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.grid-child-chess:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.grid-child-chess:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.grid-child-chess:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.grid-child-chess:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.grid-child-chess:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
    background-color: hsl(16, 100%, 44%)
}

.grid-child-chess:hover {
  background-color: rgb(156, 44, 44) !important;
}

.grid-assign-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}
.grid-assign-child {
  min-height: 1em;
  background-color: #d6d6d6;
}

.grid-assign-special-child {
  grid-row: 2 / 4; /*start at row 2 and go to row 4 */
  grid-column: 2 / 4; /*start at column 2 and go to column 4 */
  background-color: coral;
}
